{% extends 'base.html' %}
{% block title %}
Contact Book
{% endblock %}

{% block content %}
<div class="contacts-table">
    <h2 class="text-center">Contacts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Foto</th>
                <th scope="col">Surname</th>
                <th scope="col">Name</th>
                <th scope="col">Phone number</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr class="contact-row" data-contact-id="{{contact.id}}">
                <td>
                    <img src="{{ contact.foto.url }}" alt="Contacts photo" width="50">
                </td>
                <td>{{ contact.last_name }}</td>
                <td>{{ contact.first_name }}</td>
                <td>{{ contact.phone_num }}</td>
                <td>{{ contact.email }}</td>
            </tr>
        <tr id="details - {{ contact.id }}" style="display: none;">
            <td colspan="5">
                <a href="#">call📞</a>
                <a href="#">write✍️</a>
                <a href="#">edit✏️</a>
                <a href="#">delete🗑️</a>
            </td>
        </tr>
        {% endfor %}
           <!-- <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>John</td>
                <td>Doe</td>
                <td>@social</td>
            </tr>-->
        </tbody>
    </table>
</div>
{% endblock %}